// kali-rice — rofi
configuration {
    modes:                       "drun,run,window";
    font:                        "JetBrainsMono Nerd Font 11";
    show-icons:                  true;
    icon-theme:                  "Papirus-Dark";
    display-drun:                "  ";
    display-run:                 "  ";
    display-window:              "  ";
    drun-display-format:         "{name}";
    window-format:               "{w} · {c} · {t}";
    terminal:                    "kitty";
    hover-select:                true;
    me-select-entry:             "";
    me-accept-entry:             "MousePrimary";
}

@theme "catppuccin-mocha"
